*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.eren{
    max-width: 990px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}
@font-face {
    font-family: popinsbold;
    src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: popinslig;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: popinsreg;
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: popinsmed;
    src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: volkbold;
    src: url(./fonts/Volkhov-Bold.ttf);
}
@font-face {
    font-family: volkreg;
    src: url(./fonts/Volkhov-Regular.ttf);
}
@font-face {
    font-family: circblack;
    src: url(./fonts/CircularStd-Black.ttf);
}
@font-face {
    font-family: circbook;
    src: url(./fonts/CircularStd-Book.ttf);
}
@font-face {
    font-family: circmed;
    src: url(./fonts/CircularStd-Medium.ttf);
}
.bg{
    background-image: url(./assets/Home/Banner\ 1.png);
    height: 800px;
    max-width: 100%;
    background-size: cover;
}
.bgimg{
    width: 100%;
    display: none;
}
.topper{
    display: flex;
    justify-content: space-between;
    background-color: rgba(20, 7, 7, 0.548);
    font-family: popinslig;
    font-size: 10px;
    padding: 10px;

    p{
        color: rgb(14, 205, 14);
        margin-left: 17%;
    }
    span{
        color:#ffffff;
        margin-right: 12%;
    }
}
.icon{
    margin-top: 20px;

    img{
       max-width: 7em;
    }
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    list-style-type: none;
    margin-right: 30px;
}
.ham{
    color:black;
    display: none;
}
.menu ul li:last-child img{
    max-width: 40px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    font-family: popinsmed;
    font-size: 14px;
}
.menu a:hover{
    border-bottom: 2px solid rgb(38, 235, 38);
    border-radius: 2px;
}
.icon{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.members p{
    max-width: 16em;
    font-family: popinsbold;
    font-size: 2em;
    color: #ffffff;
    margin-top: 4em;
}

.search{
    margin-top: 3em;
    font-family: popinsmed;
    width:50%;
    border-radius:10px ;
    color: #ffffff;
    position: relative; 
    form{
        input{
            background: none;
            width: 100%;
            border: none;
            background-color:rgba(255, 255, 255, 0.249);
            height: 4em;
            border-radius: 8px;
            padding: 20px;
            font-size: 1em;
        }
    }
}
.but{
    position: absolute;
    top: 15px;
    right: 20px;
    button{
        color: #ffffff;
        background-color: #000000;
        padding: 8px 2.5em;
        border-radius: 6px;
        font-family: popinsmed;
        font-size: 11px;
    }
}
.stack{
 img{
    max-width: 9em;
    margin-top: 2em;
    margin-left: 17px;
 }
 span{
   margin-left: 15px;
   font-family: popinsreg;
   font-size: 12px;
   color: #ffffff;
 }
}
.scroll{
    background-image: url("./assets/Home/Scroll.png");
    height: 19em;
    background-repeat: no-repeat;
    background-position: 3em 3em;
}
.emirates{
    display: flex;
    justify-content: space-around;
    background-color: rgb(241, 243, 246);
    align-items: center;
}
.emirates img{
    max-width:7em;
    margin-top: 3em;
    margin-bottom: 3em;
}
.travia img{
    max-width: 33em;
    /* margin-left: 5em; */
    margin-top: 5em;
}
.doc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.zoro{
    flex-basis: 33%;
    margin-top: 9em;
    margin-right: 10em;
}
.zoro span {
    font-family: popinsmed;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(3, 172, 239);
}
h2{
    font-size: 2.5em;
    max-width: 10em;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.zoro p{
    max-width: 34em;
    font-family: popinsreg;
    font-size: 12px;
    text-align: left;
    margin-bottom: 29px;
}
.zoro a{
    text-decoration: none;
    font-family: popinsmed;
    text-transform: capitalize;
    font-size: 12px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    padding: 8px 6px;
    border-radius: 2.8em;
    padding-left: 10px;
}
.zoro a:hover{
    color: #ffffff;
    background-color: rgb(255, 0, 0);
}


.bloody{
   display: flex;
   justify-content: space-between;
}
.parent{
    flex-basis: 20%;
    position: relative; 
}
.blood{
    border: 2px solid white;
    padding: 15px;
    border-radius: 1em;
    z-index: -1;
    background-color: #ffffff;
}
.parent{
    &:hover{
    transform: scale(1.1);
    .over{
        opacity: 1;
    }
    }
    .over{
        width: 60px;
        height: 60px;
        border: 2px solid rgb(93, 214, 158);;
        background-color: rgb(93, 214, 158);
        position: absolute;
        bottom: -25px;
        left: -33px;
        border-radius: 1em;
        z-index: -1;
        opacity: 0;
    }
}
.cat{
    margin-top: 4em;
}
.cat h4{
    text-align: center;
    color: rgb(3, 172, 239);
    font-family: popinsmed;
    font-size: 13px;
}
.cat h5{
    font-family: volkbold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1em;
    font-size: 2.5em;
}
.blood img{
    margin-left: 3.5em;
    max-width: 3em;
    margin-bottom: 1.5em;
}
.blood p{
    text-align: center;
    font-family: popinsreg;
    max-width: 12em;
    font-size: 13px;
}
.blood h4{
    text-align: center;
    font-family: popinsmed;
    text-transform: capitalize;
    font-size: 13px;
}
.more{
    text-align: center;
    margin-top: 5em;
    a{
    text-decoration: none;
    font-family: popinsmed;
    text-transform: capitalize;
    font-size: 12px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    padding: 8px 6px;
    border-radius: 2.8em;
    padding-left: 10px;
    }
    a:hover{
        color: #ffffff;
        background-color: rgb(255, 0, 0);
    }
}
.flexible{
    h4{
        font-family: popinsmed;
        font-size: 13px;
        text-transform: uppercase;
        color: rgb(3, 172, 239);
        margin-top: 5em;
        margin-bottom: 1em;
    }
    h5{
        text-transform: capitalize;
        font-family: volkreg;
        font-size: 2.5em;
        max-width: 10.5em;
        margin-bottom: 0.5em;
    }

}
.chat{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 6%;
}
.omk{
    display: flex;
    justify-content: space-between;
}
.support {
    flex-basis: 100%;
    display: flex;
    img{
        max-width: 50px;
        height: 50px;
        margin-top: 10px;

    }
    h4{
        font-family: popinsmed;
         text-transform: capitalize;
         font-size: 13px;
    }
    p{
        margin-top: 0.5em;
        margin-bottom: 2em;
        font-family: popinsreg;
        font-size: 13px;
    }

    .ron{
        margin-left: 1em;
        p{
            max-width:65%
        }
    }
    
}
.amet{
    background-image: url(./assets/Home/Rectangle\ 19294.png);
    height: 18em;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.ban{
    display: none;
}
.pouch{
    background-color: rgba(34, 34, 127, 0.233);
    height: 100%;
}
.luffy{
    display: flex;
    justify-content: space-between;
}
.chop{
    margin-top: 7em;

    h4{
        text-transform: uppercase;
        font-family: popinsreg;
        color:rgb(3, 172, 239); ;
    }
    
    h5{
        text-transform: capitalize;
        font-family: volkreg;
        font-size: 2.5em;
        max-width: 10.5em;
        color: #ffffff;
    }
    img{
        display: none;
    }
}
.nami{
   margin-top: 11em;
   a{
    text-decoration: none;
    font-family: popinsmed;
    text-transform: capitalize;
    font-size: 12px;
    color:rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 8px 6px;
    border-radius: 2.8em;
    padding-left: 10px;
   }
   a:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
   }
}
.shanks{
    display: flex;
    justify-content: space-around;
}
.straw{
    margin-top: 5em;
    h3{
        text-transform: uppercase;
        font-family: popinsmed;
        color:rgb(3, 172, 239);
        font-size: 14px;
    }
    h4{
        text-transform: capitalize;
        font-family: volkreg;
        font-size: 2.5em;
        max-width: 15em;
        margin-top: 10px;
    }
    p{
        font-family: popinsreg;
        font-size: 14px;
        max-width: 35em;
        margin-top: 1.5em;
    }
    ul{
        list-style: none;
        margin-top: 1em;
    }
    ul li{
        font-family: popinsmed;
        font-size: 14px;
        border: 1px solid rgba(128, 128, 128, 0.399);
        margin-bottom: 1em;
        border-radius: 1.5em;
        max-width: 27em;
        padding:5px;
    }
    ul li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    ul li:hover{
        color:#ffffff;
        background-color:#ff0000;
    }
}
.hats{
    position: relative;
}
.hats img{
    max-width: 19em;
    margin-top: 13em;
    margin-left: 2em;
    overflow: hidden;
}
.lap{
    max-width: 85%;
    border:1px solid #000000;
    color: #ffffff;
    background-color:navy;
    padding: 20px 7px 10px 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 12px;
    left: -150px;
    h2{
        font-size: 18px;
        font-family: popinsmed;
    }
    p{
        font-size: 10px;
        font-family: popinsreg;
        text-align: left;
        /* max-width: 55%; */
    }
}

.twomer{
    margin-top: 5em;
    display: flex;
}

.mask{
    background-image:url(assets/Home/Group\ 1000001735.png);
    height: 20em;
    width: 50%;
    background-repeat: no-repeat;
    position: relative;
    h3{
        text-align: center;
        font-family: popinsreg;
        color: #ffffff;
        font-size: 13px;
        margin-bottom: 8px;
    }
    h4{
        text-align: center;
        font-family: volkreg;
        color: #ffffff;
        font-size: 2em;
    }
    h5{
        text-align: center;
        margin-top: 1.5em;
    }
    a{
      text-decoration: none;
      color: #ffffff;
      text-transform: capitalize;
      font-family: popinsreg;
      border: 1px solid #ffffff;
      padding: 10px 25px;
      border-radius: 10px;
    }
}
.firmask{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.firmask a{
     text-align: center;
}
.mask1{
    background-image: url(assets/Home/Group\ 1000001734.png);
    height: 20em;
    width: 50%;
    background-repeat: no-repeat;
    position: relative;
    h3{
        text-align: center;
        font-family: popinsreg;
        color: #ffffff;
        font-size: 13px;
        margin-bottom: 8px;
    }
    h4{
        text-align: center;
        font-family: volkreg;
        color: #ffffff;
        font-size: 2em;
    }
    h5{
        text-align: center;
        margin-top: 1.5em;
    }
    a{
        text-align: center;
        color: #ffffff;
        text-transform: capitalize;
        text-decoration: none;
        font-family: popinsreg;
        border: 1px solid #ffffff;
        padding: 10px 25px;
        border-radius: 10px;
    }
}
.firmask1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50% );
}

.medi{
    text-align: center;
 h3{
    font-family: popinsreg;
    font-size: 15px;
    color: #ff0000;
    text-transform: uppercase;
    margin-top: 3.5em;
}
h4{
    font-family: volkreg;
    font-size: 2.5em;
    max-width: 11em;
    text-align: center;
    margin-left: 7em;
    margin-bottom: 1em;
}
}
.bottles{
    display: flex;
    justify-content: space-around;
}
.vita {
img{
    max-width: 17em;
}
i{
    margin: 2em 10px 10px 0;
    color: #777171;
}
h3{
    max-width: 13em;
    margin-bottom: 10px;
    font-family: circmed;
    font-size: 1.2em;
}
h4{
    display: inline-block;
    margin-right: 20px;
    font-family: popinsreg;
    font-size: 1.2em;
    color: #ff0000;
}
span{
    font-family: popinsreg;
    color: #777171;
    font-size: 13px;
}
p{
    font-size: 12px;
    max-width: 23em;
    margin: 10px 0 20px 0;
    font-family: popinsreg;
}
a{
    font-size: 10px;
    font-family: popinsmed;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 12px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 7px;
    border: 1px solid black;
}
a:hover{
    background-color: #ffffff;
    color: #000000;
}
}



.silver{
    background-image: url("assets/Home/Group\ 1000001736.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;   
    text-align: center;
    margin-top: 4.5em;
}
.realme{
    position: relative;
    .redmi{
        position: absolute;
        top: 5em;
     h3{
    margin: 0 auto;
    font-family: popinsmed;
    text-transform: uppercase;
    font-size: 13px;
    color: #ff0000;
    }
    h4{
        text-align: center;
         font-family: volkreg;
         text-transform: capitalize;
         font-size: 2em;
         max-width: 15em;
         margin: 0 auto;
         margin-top: 3px;
     }
     .parag3{
        font-family: popinsreg;
        font-size: 13px;
        padding: 20px 10px 10px 10px;
        text-align: center;
        border: 1px solid #d3c8c84a;
        max-width: 40%;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #ffffff;
        margin-top: 5em;
    }
    strong{
        font-size: 12px;
        margin-top: 6px;
        font-family: popinsmed;
        margin-bottom: 20px;
        display: block;
    }
}
.wild{
    position: relative;
    img{
        max-width: 123px;
        height: 120px;
        margin-top: 1.2em;
        position: absolute;
        left: 44%;
        top: -23px;
    }
}
.cirarow{
    position: relative;
    i{
        position: absolute;
        font-size: 2.5em;
        left: 6.8em;
        bottom:1.8em;
        color: #777171;
    }
    i:hover{
        color: greenyellow;
    }
}
.circarow1{
    position: relative;
    i{
         position: absolute;
         font-size: 2.5em;
         right:6.8em ;
         bottom:1.8em;
         color: #777171;
    }
    i:hover{
        color: greenyellow;
    }
}
}
.footerr{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}
.footer1{
    img{
        max-width: 57%;
    }
    h4{
        margin-top: 10px;
        font-size: 13px;
        font-family: popinsreg;
        max-width: 14em;
    }
} 
.mess img{
margin-top: 1em;
max-width: 20px;
height: 20px;
margin-left: 5px;
}
.footer2{
    margin-left: 40px;
    h3{
        font-family: popinsmed;
        font-size: 14px;
        text-transform: capitalize;
        margin-bottom: 12px;
    }
    a{
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        margin-bottom: 16px;
        color: #000000;
        font-family: popinsmed;
        font-size: 13px;
    }
}
.footer3{
    margin-left: 50px;
    h3{
        font-family: popinsmed;
        font-size: 14px;
        text-transform: capitalize;
        margin-bottom: 12px;
    }
    a{
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        margin-bottom: 16px;
        color: #000000;
        font-family: popinsmed;
        font-size: 13px;
    }
}
.footer4{
    position: relative;
    margin-left: 70px;
span{
    display: block;
    font-family: popinsmed;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 12px;
}
input{
    font-family: "Roboto", sans-serif; 
    margin-top: 18px;
   background: none;
   border: none;
   background-color:rgba(50, 104, 165, 0.179);
   height: 20px;
   border-radius: 5px;
   padding: 20px;
   margin-right: 2em;
   
}
button{
    color: #ffffff;
        background-color: #000000;
        padding: 10px 1.5em;
        border-radius: 8px;
        font-family: popinsmed;
        font-size: 11px;
        position: absolute;
        top: 29%;
        left: 70%;  
}
p{
    font-size: 10px;
    margin-top: 20px;
    max-width: 19em;
    font-family: popinsreg;
}
}
.line {
margin-top: 3em;
margin-bottom: 3em;
text-align: center;
h4{
    font-family: popinsreg;
    font-size: 10px;
}
}



.bg1{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(./assets/About/Rectangle\ 19290.png);
    height: 600px;
    max-width: 100%;
    background-size: cover;
}
.bgimg1{
    width: 100%;
    display: none;
}
.covid{
    .topper1{
        display: flex;
        justify-content: space-between;
        background-color: rgba(20, 7, 7, 0.548);
        font-family: popinslig;
        font-size: 10px;
        padding: 10px;
    
        p{
            color: rgb(14, 205, 14);
            margin-left: 17%;
        }
        span{
            color:#ffffff;
            margin-right: 20%;
        }
    }
    .issues{
        h5{
            font-size: 13px;
            text-transform: uppercase;
            font-family: popinsmed;
            text-align: center;
            color: #ffffff;
            margin-top: 9em;
        }
       p{
        margin: 0 auto;
        max-width: 16em;
        font-family: popinsbold;
        font-size: 2em;
        color: #ffffff;
        text-transform: capitalize;
        }
    }
}
.hate{
    display: flex;
    .chris{
        flex-basis: 50%;
        h4{
            font-family:volkreg;
            font-size: 2.2em;
            margin-top: 2em;
            text-transform: capitalize;
        }
        p{
            font-family: popinsreg;
            font-size: 13px;
            margin-top: 1.2em;
        }
        .star{
            display: flex;
            flex-wrap: wrap;
            margin-top: 1.5em;
            .bucks{
                flex-basis: 50%;
                margin-top: 1em;
                display: inline-block;
                display: flex;
                align-items: center;
                
                img{
                    max-width:50px;
                    height: 50px;
                    border-radius: 5px;
                    background-color: chartreuse;
                    padding: 10px;
                    margin-right: 1em;
                }
                h5{
                    font-family: popinsmed;
                    font-size: 1.3em;
                }
                h6{
                    font-family: popinsreg;
                    font-size: 13px;
                    text-transform: capitalize;
                }
            }
        }
    }
    .docthor{
        img{
        max-width: 63%;
        margin-left: 12em;
        margin-top: 6em;
       }
    }
}

.hitage{
    display: flex;
    justify-content: end;
    position: relative;
    margin-top: 3em;
    margin-bottom: 5em;
    .jase{
       .life{
        img{
            max-width: 27%;
            position: absolute;
            top: 6em;
            left: 13%;
        }
       }
        .style {
        img{
            max-width: 27%;
            position: absolute;
            left: 13%;
            top: 30em;
        }
    }
    }
    .otto{
        margin-top: 3em;
        max-width: 70%;
        color: #ffffff;
        background-color: rgb(3, 3, 78);
        padding-inline: 15em;
        padding-block: 5em;
        h3{
            margin-top: 1em;
            font-family: volkreg;
            font-size: 2em;
            margin-bottom: 10px;
        }
        p{
            font-family: popinsreg;
            font-size: 13px;
        }
        ul{
            margin-top: 1em;
            padding-left: 15px;
        }
        li{
            font-family: popinsreg;
            font-size: 13px;
        }
        .radar{
            margin: 1.5em 0 2em 7em;
        a{
            text-decoration: none;
            color: navy;
            font-family: popinsmed;
            font-size: 12px;
            text-transform: capitalize;
            border: 1px solid #ffffff;
            background-color: #ffffff;
            padding: 5px;
            border-radius: 20px;
            
        }
       }
    }
}


.titan{
    background-color:rgb(30, 134, 30) ;
}
.enfield{
    margin-top: 2em;
    .doom{
        border: 1px solid rgb(30, 134, 30);
        background-color:rgb(30, 134, 30) ;
        h3{
            font-size: 1.5em;
            text-align: center;
            font-family: popinsmed;
            text-transform: uppercase;
            color: #ffffff;
            font-size: 1.1em;
            margin-top: 3em;
        }
        h4{
            text-align: center;
            font-family: volkreg;
            font-size: 2em;
            margin-top: 10px;
            color: #ffffff;
        }
        p{
            max-width: 85%;
            margin: 0 auto;
            text-align: center;
            font-family: popinsreg;
            font-size: 14px;
            margin-top: 10px;
            color: #ffffff;
            margin-bottom: 8em;
        }
        .fourdoc{
            position: relative;
            margin-bottom: 2em;
            .fourdoc1{
                .jupiter{
                    display: flex;
                    .insta{
                        img{
                            max-width:7em;
                            position: absolute;
                            left: 3em;
                            bottom: -5em;
                        }
                }
                .insta1{
                    img{
                        max-width:7em;
                        position: absolute;
                        left: 18em;
                        bottom: -5em;
                    }
                }
                .insta2{
                    img{
                        max-width:7em;
                        position: absolute;
                        left: 35em;
                        bottom: -5em;
                    }
                }
                .insta3{
                    img{
                        max-width:7em;
                        position: absolute;
                        left: 50em;
                        bottom: -5em;
                    }
                }
            }
        }
    }
}
}

/* contact us */

.bg2{
    background-image: url(./assets/ContactUs/Rectangle\ 19290.png);
    height: 600px;
    max-width: 100%;
    background-size: cover;
}
.bgimg2{
    display: none;
}
.issues1{
    h5{
        font-size: 13px;
        text-transform: uppercase;
        font-family: popinsmed;
        text-align: center;
        color: #ffffff;
        margin-top: 9em;
    }
   p{
    margin: 0px 10em;
    width: 16em;
    font-family: popinsbold;
    font-size: 2em;
    color: #ffffff;
    text-transform: capitalize;
    }
}

.zoro1{
    
    h2{
    font-family: popinsmed;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(3, 172, 239);
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 10px;
    }
    h3{
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: volkreg;
    }
    p{
        max-width: 47em;
        margin: 0 auto;
        font-family: popinsreg;
        font-size: 14px;
        text-align: center;
        margin-bottom: 29px;
    }
}
.requiem{
    .request{
        display: flex;
        justify-content: space-around;
        .althaf{
            position: relative;
            border: 1px solid black;
            background-color:rgba(0, 5, 39, 0.83);
            background-image: url(./assets/ContactUs/Rectangle\ 23923.png);
            height: 25em;
            max-width:34%;
            background-repeat: no-repeat;
            margin-right: 2em;
            border-radius: 10px;
            h3{
                font-family: popinsreg;
                text-transform: capitalize;
                margin-left: 1.5em;
                font-size: 16px;
                color: #ffffff;
                margin-top: 1em;
            }
            p{
                font-family: popinsmed;
                margin-left: 1.5em;
                font-size: 13px;
                color: #ffffff;
                margin-top: 1em;
            }
            h4{
                margin:2em 1em 2.5em 5em;
                color: #ffffff;
                font-family: popinsreg;
                font-size: 14px;
                font-weight: 500;
            }
            img{
                position: absolute;
                top: 9.5em;
                max-width: 2em;
                margin-left: 1em;
            }
            h5{
                margin:-1em 1em 2.5em 5em;
                color: #ffffff;
                font-family: popinsreg;
                font-size: 14px;
                font-weight: 500;
            }
            .campus{
                position: absolute;
                top: 12.5em;
                max-width: 2em;
                margin-left: 1em;
            }
            h6{
                margin:-1em 1em 2.5em 5em;
                color: #ffffff;
                font-family: popinsreg;
                font-size: 14px;
                font-weight: 500;
            }
            .crocs{
                position: absolute;
                top: 15.5em;
                max-width: 2em;
                margin-left: 1em;
            }
            .messa{
                border-top: 1px solid #ffffff;
                .link{
                 position: absolute;
                top: 21.5em;
                max-width: 1.5em;
                margin-left: 5em;
                }
                .messengers{
                    position: absolute;
                    top: 21.5em;
                    max-width: 1.5em;
                    margin-left: 8em;
                }
                .twitters{
                    position: absolute;
                    top: 21.5em;
                    max-width: 1.5em;
                    margin-left: 11em;
                }
                .twoo{
                    position: absolute;
                    top: 21.5em;
                    max-width: 1.5em;
                    margin-left: 14em;
                }
            }
        }
        .honor{
            .pura{
                input{
                    border: 1px solid rgb(98, 95, 95);
                    padding: 10px 70px 10px 10px;
                    border-radius: 5px;
                    text-transform: capitalize;
                    background-color: #77717115;
                }
                .row1{
                    padding-bottom: 1em;
                    padding-right: 2em;
                }
            .row2{
                textarea{
                    border: 1px solid rgb(98, 95, 95);
                    border-radius: 5px;
                    resize: none;
                    width: 37em;
                    height: 10em;
                    padding-top: 10px;
                    padding-left: 10px;
                    background-color: #77717115;
                }
            }
            }
            .butto{
                color: #ffffff;
        background-color: #000000;
        padding: 8px 2.5em;
        border-radius: 6px;
        font-family: popinsmed;
        font-size: 11px;
        margin-top: 1em;

            }
        }
    }

}
.mapsec{
    iframe{
       border: 1px solid #000000;
       margin-top: 2em;
    }
}


.bg3{
    background-image:  linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)),url(./assets/OurPartners/Rectangle\ 19290.png);
    height: 600px;
    max-width: 100%;
    background-size: cover;
}
.bgimg3{
    display: none;
    width: 100%;
}
.issues2{
    h5{
        font-size: 13px;
        text-transform: uppercase;
        font-family: popinsmed;
        text-align: center;
        color: #ffffff;
        margin-top: 9em;
    }
   p{
    margin: 0px 8em;
    max-width: 16em;
    font-family: popinsbold;
    font-size: 2em;
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    }
}
.zoro2{
    h3{
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: volkreg;
    margin-top: 3em;
    }
    p{
        max-width: 64em;
        margin: 0 auto;
        font-family: popinsreg;
        font-size: 14px;
        text-align: center;
        margin-bottom: 29px;
    }
}
.daemon{
    background-color: #aea2a23c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .targer{
        flex-basis: 80%;
        margin: 0 auto;
        margin-bottom: 6em;
        img{
            max-width: 12%;
            margin-left: 7em;
        }
        a{
            display:block;
            text-align: center;
            margin-top: 5em;
            text-decoration: none;
            text-transform: capitalize;
            font-family: popinsreg;
            color: #000000;
        }
    }
}


/* all catogories */

.bg4{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url(./assets/AllCategories/Rectangle\ 19290.png);
    height: 600px;
    max-width: 100%;
    background-size: cover;

    .issues3{
        h5{
            font-size: 13px;
            text-transform: uppercase;
            font-family: popinsmed;
            text-align: center;
            color: #ffffff;
            margin-top: 9em;
            font-weight: 300;
        }
       p{
        margin: 0px 8em;
        max-width: 16em;
        font-family: popinsbold;
        font-size: 2em;
        color: #ffffff;
        text-transform: capitalize;
        text-align: center;
        }
    }
}
.zoro3{
    h2{
    font-family: popinsmed;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(3, 172, 239);
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 10px;
    }
    h3{
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: volkreg;
    }
}
.card1{
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    background-color: #7771711c;
    border-radius: 5px;
    li{
        list-style-type: none;
        margin-right: 30px;
    &:hover{
        background-color: rgb(56, 197, 119);
        border-radius: 5px;
        padding: 5px;
        
    }
        a{
            text-decoration: none;
            color: #000000;
            text-transform: capitalize;
            font-family: popinsmed;
            font-size: 14px;
            padding: 5px;
        }
    }
}
}
.tablets{
.tablets1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    .tab{
        flex-basis: 20%;
        img{
            max-width: 210px;
        }
        h5{
            font-family: popinsmed;
            font-size: 13px;
            margin-top: 10px;
            margin-bottom: 8px;
        }
        .burger{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2em;
            p{
                border: 1px solid #000000;
                color: #ffffff;
                background-color: #000000;
                font-family: popinsmed;
                font-size: 13px;
                padding: 5px 17px;
                border-radius: 8px;
            }
            a{
                font-family: popinsreg;
                font-size: 13px;
                color: rgb(3, 172, 239);
            }
        }
    }
}
}
.tulips{
    background-color: #ebe4e461;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
}
.zoro3{
    h2{
    font-family: popinsmed;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(3, 172, 239);
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 10px;
    }
}
.cardio1{
    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 8px;
        background-color: #7771711c;
        border-radius: 5px;
        li{
            list-style-type: none;
            margin-right: 30px;
        &:hover{
            background-color: rgb(56, 197, 119);
            border-radius: 5px;
            padding: 5px; 
        }
            a{
                text-decoration: none;
                color: #000000;
                text-transform: capitalize;
                font-family: popinsmed;
                font-size: 14px;
                padding: 5px;
            }
        }
    }
}
    .zoro3{
        h2{
        font-family: popinsmed;
        text-transform: uppercase;
        font-size: 13px;
        color: rgb(3, 172, 239);
        margin-top: 5em;
        margin-bottom: 10px;
        text-align: center;
        }
    }

/* MEDIA-QUERY for mobile    */

@media  (max-width: 600px){

 .bg{
    background-image: none;
    height: auto;
 }
 .bgimg{
    display: block;
    background-size: cover;
    z-index: -1;
 }
 .topper{
    display: none;
 }
 .menu{
    display: none;

 }
 .ham{
    display: block;
    z-index: 10;
}
 
 .members{
    
    p{
      color: #000000;
      margin-top: 0;
      font-size: 1.5em;
      text-align: left;
      max-width: 19em;
      margin-left: 15px;
    }
 }
 .search{
    width: 70%;
    margin-left:1em;
    form{
        input{
            background-color: rgba(128, 128, 128, 0.399);
        }
    }
 }
    .stack{
        margin-bottom: 20px;
        img{
            margin-top: 1.5em;
            margin-left: 16px;
        }
        span{
            color: #000000;
            margin-left: 18px;
            
        }
    }
    .scroll{
        display: none;
    }
    .emirates{
        flex-wrap: wrap;
        img{
            max-width: 10em;
            flex-basis: 100%;
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }
    .travia{
        text-align: center;
        img{
            max-width: 250px;
            margin-top: 2em;
            
        }
    }
    .doc{
        .zoro{
            margin-top: 3em;
            flex-basis: 70%;
            text-align: center;
            max-width: 90%;
            margin: 0 auto;
            span{
                text-align: center;
                margin-top: 4em;
            }
            h2{
                font-size: 2em;
                text-align: center;
                margin-left: -0em;
                margin-top: 10px;
            }
            p{
                text-align: justify;
                font-weight: 500;
            }
        }
    }
    .cat{
        h5{
            font-size: 2em;
        }
    }
    .bloody{
        flex-wrap: wrap;
        .parent{
            flex-basis: 50%;
            .blood{
                text-align: center;
                img{
                    margin-left: 0;
                }
            }
        }

    }
    .more{
        margin-top: 2em;
    }
    .flexible{
        width: 90%;
        margin: 0 auto;
        h4{
            text-align: center;
        }
        h5{
            text-align: center;
            max-width: 13.8em;
            font-size: 2em;
        }
    }
    .pop1{
        img{
            display: none;
        }
    }
    .support{
        img{
            margin-left: 5em;
        }
        .ron{
            p{
                max-width: 80%;
            }
        }
        }
        .amet{
            background-image: none;
            
        }
        .ban{
            display: none;
            background-size: cover;
        }
        .pouch{
            height: 0;
        }
        .luffy{
           display: block;
           
        }
        .chop{
            margin-top: 1em;
            h4{
                text-align: center;
                font-size: 14px;
            }
            h5{
                color: black;
                font-size: 1.5em;
                text-align: center;
                margin-left: 1.2em;
                max-width: 13.5em;
                
            }
            /* img{
                display: block;
                background-size: cover;
            } */
            a{
                margin-top: 1em;
            }
        }
        .shanks{
            display: block;
            .straw{
                h3{
                    text-align: center;
                }
                h4{
                    text-align: center;
                    font-size: 1.8em;
                    max-width: 16;
                }
                p{
                    text-align: justify;
                    width: 90%;
                    margin: 0 auto;
                }
                ul{
                    width: 90%;
                    margin: 0 auto;
                    margin-top: 2em;
                }
            }
            .hats{
                text-align: center;
                img{
                    margin-top: 2em;
                    margin-left: 0;
                }
            }
            .lap{
                bottom: 6px;
                left: 22px;
                max-width: 57%;
                display: none;
            }
        }
        .twomer{
            margin-top: 3em;
            .mask{
                height: 14em;
                h4{
                    font-size: 1.5em;
                }
                a{
                    padding: 5px;
                }
            }
            .mask1{
                height: 14em;
                h4{
                    font-size: 1.5em;
                }
                a{
                    padding: 5px;
                }
            }
        }
        .medi{
            h4{
                font-size: 2em;
                width: 90%;
                margin: 0 auto;
                margin-bottom: 5px;

            }
        }
        .bottles{
            display: block;
            .vita{
                width: 80%;
                margin: 0 auto;
                img{
                    margin-top: 2em;
                }
            }
        }
        .realme{
            
            .wild{
                img{
                    left: 38%;
                }
            }
            .redmi{
                .parag3{
                    max-width: 71%;
                }
            }
            .cirarow{
                i{
                    left: 1.5em;
                }
            }
            .circarow1{
                i{
                    right: 1.5em;
                }
            }
        }
        .footerr{
            display: block;
            .footer1{
                img{
                    margin-left: 3em;
                }
                h4{
                    max-width: 25em;
                    margin-left: 3em;
                }
                .mess{
                    margin-bottom: 10px;
                }
            }
            .footer2{
                margin-left: 3em;
            }
            .footer4{
                margin-left: 3em;
                button{
                    top: 37%;
                    left: 40%;
                }
            }
        }

        /* about us */

        .bg1{
            background-image: none;
            height: auto;
         }
         .bgimg1{
            display: block;
            background-size: cover;
            z-index: -1;
         }
        .covid{
            .topper1{
                display: none;
             }
             .icon{
                display: none;
            }
            .issues{
                h5{
                    color: #000000;
                    margin-top: 1em;
                    font-size: 1.5em;
                }
                p{
                    color: #000000;
                    font-size: 1.5em;
                    margin-top: 1em;
                }
            }
        }
        .hate{
            display: block;
            .chris{
                width: 90%;
                margin: 0 auto;
                h4{
                    font-size: 1.5em;
                    text-align: center;
                }
                p{
                    text-align: justify;
                }
            }
            .docthor{
                width: 90%;
                margin: 0 auto;
                img{
                    margin-left: 0;
                    margin-top: 3em;
                    
                }
            }
        }
        .hitage{
            .jase{
                .life{
                    display: none;
                }
                .style{
                    display: none;
                }
            }
            .otto{
                width: 90%;
                margin: 0 auto;
                padding-block:0 ;
                padding-inline: 1em;
                h3{
                    font-size: 1.5em;
                    margin-top: 0.5em;
                }
                p{
                    text-align: justify;
                    width: 90%;
                }
                .radar{
                    a{
                        margin-left: -3em;
                    }
                }
            }
        }
        .enfield{
            .doom{
                width: 90%;
                margin: 0 auto;
                p{
                    text-align: justify;
                    margin-bottom: 1em;
                }
                .fourdoc {
                     .fourdoc1 {
                        max-width: 90%;
                        margin: 0 auto;
                         .jupiter {
                             .insta {
                                img {
                                    max-width: 3em;
                                    left: 1em;
                                    bottom: -3em;
                                }
                            }
                            .insta1{
                                img {
                                    max-width: 3em;
                                    left: 6em;
                                    bottom: -3em;
                                }
                            }
                            .insta2{
                                img {
                                    max-width: 3em;
                                    left: 11em;
                                    bottom: -3em;
                                }
                            }
                            .insta3{
                                img {
                                    max-width: 3em;
                                    left: 16em;
                                    bottom: -3em;
                                }
                            }
                        }
                    }
                }
            }
        }

        /* our partners */

        .bg3{
            background-image: none;
            height: auto;
         }
         .bgimg3{
            display: block;
            background-size: cover;
         }
         .issues2{
            width: 90%;
            margin: 0 auto;
            h5{
                color: #000000;
                margin-top: 2em;
                font-size: 1em;
                margin-bottom: 10px;
            }
            p{
                color: #000000;
                margin: 0;
                font-size: 1.5em;

            }
         }
         .zoro2{
            width: 90%;
            margin: 0 auto;
            h3{
                font-size: 1.8em;
            }
            p{
                text-align: justify;
            }
         }
         .daemon{
            width: 90%;
            margin: 0 auto;
            .targer{
                flex-basis: 50%;
                img{
                    max-width: 100%;
                    margin-left: 0;
                }
            }
         }

         /* contact us */

         .bg2{
            background-image: none;
            height: auto;
         }
         .bgimg2{
            display: block;
            width: 100%;
         }
         .issues1{
            width: 90%;
            margin: 0 auto;
            h5{
                color: #000000;
                margin-top: 2em;
            }
            p{
                color: #000000;
                margin-left: 2em;
                font-size: 1.5em;
            }
         }
         .zoro1{
            width: 90%;
            margin: 0 auto;
            h2{
                margin-top: 3em;
            }
            h3{
                font-size: 1.5em;
            }
            p{
                text-align: justify;
            }
         }
         .requiem{
            .request{
                flex-direction: column;
                width: 90%;
                margin: 0 auto;

                .althaf{
                    max-width: 100%;
                    margin-bottom: 1em;
                }
                .honor {
                    .pura {
                        .row2 {
                            textarea {
                                width: 25em;
                            }
                        }
                    }
                }
            }
         }


        

        /* .cardio1{
        ul{
            flex-direction: column;
        }
        li{
            margin-bottom: 10px;
        }
        } */
   
    }

















